@tailwind base;
@tailwind utilities;

:root {
  --nickel: #bcbcba;
  --code: #060606;
  --raven: #777b84;
  --lunar: #3a463d;
  --ironside: #66625b;
  --bright: #363b45;
  --roman: #845c4c;
  --sirocco: #7b8585;
  --tuatara: #292926;
  --white: #ffffff;
}

html,
body,
#root {
  width: 100%;
  height: 100%; 
  background-color: white
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#loginsplash {
  font-size: 40px;
  color: black;
}

.footer {
  width: auto;
  background-color: white;
  color: black;
}

/* login style */
.loginbtn {
  background-color: #2f313a;
  color: white;
  font-size: 25px;
  margin-right: 80px;
  background-position-x: center;
}

#login {
  background-color: black;
}

/* container style */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signhead {
  color: white;
  font-size: 30px
}

.submitlog {
  background-color: white;
}

.errorlogin {
  color: red;
  margin: 0px 0px 0px 0px
}

.addpost {
  color: red;
}

/* artwork 4 */
.artwork-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured-card {
  width: calc(25% - 16px); 
  margin-bottom: 16px; 
  box-sizing: border-box;
}

.featured-card img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  display: block;
  border-radius: 0px; 
}

.artworks-section {
  text-align: center;
}

/* masonry for gallerArt */
.masonry-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0; 
}

.gallery-card:nth-child(1) {
  grid-column: span 1;
  grid-row: span 1;
}

.gallery-card:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

.gallery-card:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
}

.gallery-card:nth-child(4) {
  grid-column: span 1;
  grid-row: span 3;
}

.gallery-card:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}

.gallery-card:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-card:nth-child(7) {
  grid-column: span 1;
  grid-row: span 1;
}

.gallery-card:nth-child(8) {
  grid-column: span 1;
  grid-row: span 2;
}















