:root {
    --gray1: #bcbcba;
}

body {
    margin: 0;
    padding: 0;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .artworks-section {
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .artwork-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
  }
  
  .featured-card, .gallery-card {
    border: 1px solid var(--gray1);
    padding: 10px;
    text-align: center;
  }

  .gallery-card {
    flex: 1 1 calc(25% - 5px);
  }
  
  .featured-card img, 
  .gallery-card img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    border-bottom: 1px solid var(--gray1);
  }
  
  .artwork-title {
    font-weight: bold;
    margin-top: 10px;
  }
  
h2,
p {
  text-align: center;
}