.cart {
  position: absolute;
  font-size: 12px;
  right: 23px;
  bottom: -50px;
  max-width: 30%;
  max-height: 75%;
  background-color: var(--light);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
  /* display: flex; */
  /* flex-direction: column; */
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 3%;
  right: 9%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.cart-item {
  margin-bottom: 1rem;
}

.cart-item-image {
  margin-right: 1rem;
}

.cart-item-title {
  font-weight: bold;
  margin: 0px -100px 0px 0px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-price {
  margin-top: 0.5rem;
  margin: 0px 68px 0px 0px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  /* margin-top: -3.5rem; */
  margin: -45px -150px 0px 20px;
}

.cart-item-quantity input {
  margin: 0 0.5rem;
  width: 20px;
}

.cart-item-quantity span[role="img"] {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 13.5rem;
}

@media screen and (max-width: 768px) {
  .cart {
    max-height: 60%;
    font-size: 10px;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}

.checkprice {
  margin-top: 35px;
}
